.food-meal{
    background-color: lightslategray;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 15px;
    margin: 25px;
}

.food-meal img{
    width: 50%;
    height: 50%;
    border-radius: 15px;
    padding-left: 25%;

}

.food-meal p{
    width: 50%;
    padding-left: 25%;
}

.food-meal h3{
    padding-left: 25%;
}